apiclient==1.0.4
appdirs==1.4.4
beautifulsoup4==4.10.0
cachetools==4.2.4
certifi==2021.5.30
charset-normalizer==2.0.9
click==8.0.1
colorama==0.4.4
cssselect==1.1.0
Cython==0.29.22
distlib==0.3.1
docopt==0.6.2
docutils==0.16
feedfinder2==0.0.4
feedparser==6.0.8
filelock==3.0.12
Flask==2.1.3
google-api-core==2.3.0
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
googleapis-common-protos==1.54.0
httplib2==0.20.2
idna==3.3
itsdangerous==2.1.2
jieba3k==0.35.1
Jinja2==3.1.2
joblib==1.0.1
Js2Py==0.71
lxml==4.6.4
MarkupSafe==2.1.1
mysql-connector-python==8.0.27
newspaper3k==0.2.8
nltk==3.6.2
numpy==1.23.1
packaging==21.3
Pillow==8.4.0
pipwin==0.5.1
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.8.1
pyjsparser==2.7.1
pyparsing==3.0.6
PyPrind==2.11.3
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pySmartDL==1.3.4
python-dateutil==2.8.2
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2021.8.28
requests==2.26.0
requests-file==1.5.1
rsa==4.8
scipy==1.8.1
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.3.1
textblob==0.15.3
tinysegmenter==0.3
tldextract==3.1.2
tqdm==4.62.2
tzdata==2021.5
tzevaadom==1.1
tzlocal==4.1
uritemplate==4.1.1
urllib3==1.26.6
virtualenv==20.4.2
Werkzeug==2.1.2
apiclient==1.0.4
appdirs==1.4.4
beautifulsoup4==4.10.0
cachetools==4.2.4
certifi==2021.5.30
charset-normalizer==2.0.9
click==8.0.1
colorama==0.4.4
cssselect==1.1.0
Cython==0.29.22
distlib==0.3.1
docopt==0.6.2
docutils==0.16
feedfinder2==0.0.4
feedparser==6.0.8
filelock==3.0.12
Flask==2.1.3
google-api-core==2.3.0
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
googleapis-common-protos==1.54.0
gunicorn==20.1.0
httplib2==0.20.2
idna==3.3
itsdangerous==2.1.2
jieba3k==0.35.1
Jinja2==3.1.2
joblib==1.0.1
Js2Py==0.71
lxml==4.6.4
MarkupSafe==2.1.1
mysql-connector-python==8.0.27
newspaper3k==0.2.8
nltk==3.6.2
numpy==1.23.1
packaging==21.3
Pillow==8.4.0
pipwin==0.5.1
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.8.1
pyjsparser==2.7.1
pyparsing==3.0.6
PyPrind==2.11.3
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pySmartDL==1.3.4
python-dateutil==2.8.2
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2021.8.28
requests==2.26.0
requests-file==1.5.1
rsa==4.8
scipy==1.8.1
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.3.1
textblob==0.15.3
tinysegmenter==0.3
tldextract==3.1.2
tqdm==4.62.2
tzdata==2021.5
tzevaadom==1.1
tzlocal==4.1
uritemplate==4.1.1
urllib3==1.26.6
virtualenv==20.4.2
Werkzeug==2.1.2
